.inf-r{
	float: right;
}

body {
	background-image: url("../images/fondo2.png");
}

p {
	font-size: 1.1rem;
}

.navbar{
	box-shadow: 5px 10px 18px #2B2B2B;
}

.display-4 {
	font-family: 'ocr';
}

.content.fixed {
  position: fixed;
  margin-top: 10px;
  height: 80%;
}

@font-face {
 font-family: 'ocr';
 font-style: normal;
 font-weight: normal;
 src: url('../fonts/OCRAEXT.TTF');
 }

@media (min-width: 100px) {
  .visible-xs {
    visibility: visible;
  }
  .invisible-xs {
  	visibility: hidden;
  }
  .material-icons { 
   	font-size: 50px; 
  }
  .material-icons.xs { 
  	font-size: 18px !important;
  }
  .display-4 {
    font-size: 2em;
  }	
}

@media (min-width: 576px) {
  .visible-sm {
    visibility: visible;
  }
  .invisible-sm {
  	visibility: hidden;
  }
  .material-icons{ 
  	font-size: 120px; 
  }
  .display-4 {
    font-size: 2em;
  }	  
}


@media (min-width: 768px) {
  .visible-md {
    visibility: visible;
  }
  .invisible-md {
  	visibility: hidden;
  }
  .material-icons, .material-icons.md { 
  	font-size: 120px; 
  }
  .display-4 {
    font-size: 2em;
  }	  
  .info-fixed{
    font-size: 0.82em;
  }
}

@media (min-width: 992px) {
  .visible-lg {
    visibility: visible;
  }
  .invisible-lg {
  	visibility: hidden;
  }
  .material-icons { 
  	font-size: 200px; 
  }
  .material-icons.lg { 
  	font-size: 120px !important;
  }
  .display-4 {
    font-size: 2em;
  }	  
  .info-fixed{
    font-size: 0.95em;
  }
}

@media (min-width: 1200px) {
  .visible-xl {
    visibility: visible;
  }
  .invisible-xl {
	  visibility: hidden;
  }
  .material-icons { 
  	font-size: 250px; 
  }
  .display-4 {
    font-size: 3em;
  }	
  .info-fixed{
    font-size: 1.1em;
  }
}